@tailwind base;
@tailwind components;
@tailwind utilities;


.banner-bg{
    background-image: url('/assets/banner-2.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-1-bg::before {
    content: "";
    background-image: url("/assets/attitude.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }
  
  .card-1-bg:hover::before {
    transform: scale(1.25);
  }
  
  .card-2-bg::before {
    content: "";
    background-image: url("/assets/watch.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }
  
  .card-2-bg:hover::before {
    transform: scale(1.25);
  }


  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  /* admin section */
.new-watch-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.9);
}
.new-user-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.7);
}

.new-watch-banner {
    background-image: url("/assets/new-watch-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.new-user-banner {
    background-image: url("/assets/add-user-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Example CSS */
.add-watch::placeholder {
  color: lightcoral;
  font-style: italic;
}

/* Divider class */
.divider {
  margin-top: 8px;
  border-top: 1px solid #adacac;
  flex-grow: 1;
}

